html
  head
    title HackUPC
    block scripts
      link(rel="stylesheet" href="/style.css" )
  body
    header
    title Q&Anon
    main
      section.section
        .container.content
          block content
    footer.footer